# Default ignored files
/shelf/
/workspace.xml
deploymentTargetSelector.xml
gradle.xml
compiler.xml
kotlinc.xml
material_theme_project_new.xml
migrations.xml
misc.xml
runConfigurations.xml
vcs.xml
PhotoQuestV3.iml
appInsightsSettings.xml
.name
modules.xml

